<div class="row">
  <div class="col-md-4 m-auto mt-5 text-left bg-white rounded shadow py-3">
    <h5>Sign in</h5>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group py-3">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          formControlName="email"
          infoGroup="email"
        />
        <small
          class="text-danger"
          *ngIf="
            !loginForm.get('email').valid && loginForm.get('email').touched
          "
          >this email required</small
        >
      </div>
      <div class="form-group py-3">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          formControlName="password"
        />
      </div>

      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</div>
